<!DOCTYPE html>
<html>

<head>
    <title>{{ topic.name }}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
        }

        .question {
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <h1>{{ topic.name }}</h1>
    <h2>Average Score: {{ average_score }}%</h2>
    {% for step in topic.chapter_mode %}
    <h2>{{ topic.plan[loop.index0] }}</h2>
    <div>{{ step.teaching_material | safe }}</div>
    {% if step.questions %}
    <h3>Questions</h3>
    {% for question in step.questions.questions %}
    <div class="question">
        <p><b>{{ loop.index }}. {{ question.question }}</b></p>
        <ul>
            {% for option in question.options %}
            <li>{{ option }}</li>
            {% endfor %}
        </ul>
        <p><i>Correct Answer: {{ question.correct_answer }}</i></p>
        {% if step.user_answers %}
        <p><i>Your Answer: {{ step.user_answers[loop.index0] }}</i></p>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</body>

</html>
