{% extends "base.html" %}

{% block title %}Quiz Mode - {{ topic_name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('quiz.static', filename='quiz.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('quiz.static', filename='quiz.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Quiz on {{ topic_name }}</h1>
<form method="post" action="{{ url_for('quiz.submit_quiz', topic_name=topic_name) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% for i in range(quiz_data.questions|length) %}
    {% set question_index = loop.index0 %}
    <div class="question">
        <h2>{{ quiz_data.questions[i].question }}</h2>
        <div class="options">
            {% for option in quiz_data.questions[i].options %}
            <div class="option">
                <label>
                    <input type="radio" name="answers_{{ question_index }}" value="{{ loop.index0 }}" required>
                    {{ option }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit Quiz" class="button">
</form>
{% endblock %}