name: Code Quality Checks

on:
  push:
    branches: [ main, development]
  pull_request:
    branches: [ main, development]

jobs:
  code-quality-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.1
